<div>
    <div class="panel panel-primary"  *ngFor="let alltopic of topicData">
  
        <div class="panel-heading">
            <h3 class="panel-title">{{alltopic.blogTitle | uppercase}}</h3>
        </div>
        <div class="panel-body">
            <div  class="row">
                <div class="col-xs-10">
                    <div class="row">
                        <div class="col-xs-6">
                            Description
                        </div>
                        <div class="col-xs-6">
                           : {{alltopic.description}}
                        </div>
                        <div class="col-xs-6">
                            Category
                        </div>
                        <div class="col-xs-6">
                           : {{alltopic.category}}
                        </div>
                        <!-- <div class="col-xs-6">
                            Rating of Topic
                        </div> -->
                        <!-- <div class="col-xs-6">
                           : {{alltopic.averageRating}}
                        </div> -->
                       
                        <div class="col-xs-6">
                            Status of Topic
                        </div>
                        <div class="col-xs-6">
                           : {{alltopic.status}}
                        </div>
        
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
<!-- <button class="btn btn-info" (click)="editStatus(alltopic.blogId)">EdiT</button> &nbsp; &nbsp; -->
            <button class="btn btn-success" (click)="approveTopic(alltopic.blogId)">Approve</button>
            <button class="btn btn-danger" style="float: right;" (click)="rejectTopic(alltopic.blogId)">Reject</button>
  
        </div>
    </div>
    <button class="btn btn-info" (click)="viewApproveTopics()">ApprovedTopics</button>
  </div>
