<div class="container">
    <nav class="navbar navbar-dark bg-dark" style="background-color: #e3f2fd;">
        <ul class="nav navbar-nav">
            <li>
                <a *ngIf="!result" class="login" routerLink="login">Login</a>
            </li>
            <!-- <li>
                <a *ngIf="authService.isUserLoggedIn()"class="AddBlog" routerLink="AddTopic">Create-Topic</a>
            </li>
            -->
            <li>
                <a *ngIf="!result" class="register" routerLink="register">Register</a>
            </li>
            <!-- <li>
                <a *ngIf="authService.isUserLoggedIn()"class="AddBlog" routerLink="ViewAllapprovedTopics">ViewAllTopic</a>
            </li> -->
            <!-- <li>
                <a *ngIf="authService.isUserLoggedIn()"class="AddBlog" routerLink="topictoAdmin">AdminBlog</a>
            </li> -->
            <li class="logout">
                <a *ngIf="result"  style="float: right;" routerLink="logout">LogOut</a>
            </li>
        </ul>
    </nav>
   
    <router-outlet></router-outlet>
  </div>